.appFooter{
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #1abc9c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    box-sizing: border-box;
}